<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About.Xenop</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
</head>
<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{{url_for('index')}}" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="{{url_for('about')}}" class="nav-link px-2 text-white">About</a></li>
          <li><a href="{{url_for('sign_up')}}" class="nav-link px-2 text-white">Sign Up</a></li>
        </ul>

        <div class="text-end">
        </div>
      </div>
    </div>
  </header>

<body>
    <h1 class="about">About</h1>
    <p class="about" class="text">Музыкальные инструменты — это не только инструменты, но и целый мир, в котором есть
        разные виды:
        гитары, клавишные инструменты, ударные, струнные, духовые и другие.
    </p>
    <p class="about" class="text">Этот сайт создан для ознакомительных целей, вся информация взята из <a
            href="https://ru.wikipedia.org/wiki/Заглавная_страница">википедии</a>.
    </p>
    <p class="about" class="text">Изображения сайта несут только развлекательный характер , без целей кого-либо оскорбить </p>
    <img src="https://aa-puro.com/images/about-banner.jpg" class="nig">





    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
        <div class="colmb-3">
          <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none" aria-label="Bootstrap">
            <svg class="bi me-2" width="40" height="32" aria-hidden="true">
              <use xlink:href="#bootstrap"></use>
            </svg>
          </a>
    
          <p class="text-body-secondary">© 2025</p>
        </div>
        <div class="colmb3">
    
        </div>
    
        <div class="colmb3">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="{{url_for('index')}}" class="nav-link p-0 text-body-secondary">Home</a></li>
            <li class="nav-item mb-2"><a href="{{url_for('about')}}" class="nav-link p-0 text-body-secondary">About</a></li>
            <li class="nav-item mb-2"><a href="{{url_for('sign_up')}}" class="nav-link p-0 text-body-secondary">Sign Up</a></li>
          </ul>
        </div>
    
        </div>
      </footer>
</body>

</html>