<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Balalayka.Xenop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link href="static/instrument.css" rel="stylesheet">
    <link rel="shortcut icon" href="static/troll.jpg" type="image/x-icon">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{{url_for('index')}}" class="nav-link px-2 text-secondary">Home</a></li>
                    <li><a href="{{url_for('about')}}" class="nav-link px-2 text-white">About</a></li>
                    <li><a href="{{url_for('sign_up')}}" class="nav-link px-2 text-white">Sign Up</a></li>
                </ul>

                <div class="text-end">
                </div>
            </div>
        </div>
    </header>
    <h1 class="text mt-5 mb-5">Balalayka</h1>
    <div class="col-lg-7 d-flex justify-content-around w-100">
        <img src="https://otvet.imgsmail.ru/download/275963978_019c388f63f9347e738f4b09b4fd013a_800.gif"
            alt="" width="535">
        <p class="yet col-lg-4">Однозначной точки зрения на время возникновения балалайки не существует.

            Считается, что балалайка получила распространение с конца XVII века. Представляла собой «длинный
            двухструнный инструмент, имела корпус около полутора пядей длины (примерно 27 см) и одной пяди ширины
            (примерно 18 см) и шейку-гриф, по крайней мере, в четыре раза более длинную».

            Современный вид балалайка приобрела благодаря музыканту-просветителю Василию Андрееву и мастерам В. В.
            Иванову, Ф. С. Пасербскому, С. И. Налимову и другим, которые в 1883 году занялись её усовершенствованием.
            Андреев В. В. предложил делать деку из ели, а заднюю часть балалайки изготавливать из бука, а также
            укоротить до 600—700 мм. Сделанное Ф. Пасербским семейство балалаек (пикколо, прима, альт, тенор, бас,
            контрабас) стало основой русского народного оркестра. Позднее Ф. Пасербский получил в Германии патент на
            изобретение балалайки. Таким образом, можно говорить о существовании двух инструментов: народной и
            андреевской балалайке.

            Балалайка используется как сольный, концертный, ансамблевый и оркестровый инструмент. В 1887 году Андреев
            организовал первый кружок любителей балалайки, а 1 апреля 1888 года в здании Санкт-Петербургского
            общества взаимного кредита состоялось первое выступление «Кружка любителей игры на балалайках», ставшее днём
            рождения оркестра русских народных инструментов.

            Первое письменное упоминание о балалайке содержится в документе от 23  июня 1688 года «Память из
            Стрелецкого приказа в Малороссийский приказ», в котором, среди прочего, сообщается, что в Москве

            в Стрелецкий приказ приведены арзамасец посадский человек Савка Фёдоров сын Селезнев да Шенкурского уезду
            дворцовой Важеской волости крестьянин Ивашко Дмитриев, а с ними принесена балалайка для того, что они ехали
            на извозничье лошади в телеге в Яуские ворота, пели песни и в тое балалайку играли и караульных стрельцов,
            которые стояли у Яуских ворот на карауле, бранили

            Другое упоминание балалайки относится к октябрю 1700 г. в связи с произошедшей в Верхотурском уезде дракой.
            По свидетельству ямщиков Проньки и Алексея Баяновых, дворовый человек стольника воеводы К. П. Козлова И.
            Пашков гонялся за ними и «бил их балалайкой».</p>
    </div>

    <h1 class="text mt-5 mb-5">Стоимость инструмента и где купить?</h1>
    <div class="col-lg-7 d-flex justify-content-around w-100">
        <img src="https://avatars.dzeninfra.ru/get-zen_doc/4581585/pub_60cf80891ecc344c6707182e_60cf809eb4fa377376ea14da/scale_1200"
            alt="" width="535">
        <div>
        <p class="yet">ТОП 5 СТРУННЫХ ИНСТРУМЕНТОВ:</p>
                {% for st in ste %}
            
            <p>--------------------------------------------------------------------------------------------------------------------------</p>
            <p class="yet"> {{st[3]}} - {{st[1]}} — {{st[2]}}.</p>
            
                {% endfor %}
        </div>

    </div>


    <div>
        <h2 class="text mb-5 mt-5">Балалайка на любой вкус и цвет вы можете купить <a
                href="https://novosibirsk.pult.ru/">здесь</a>.</h2>
    </div>


    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
        <div class="colmb-3">
            <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none"
                aria-label="Bootstrap">
                <svg class="bi me-2" width="40" height="32" aria-hidden="true">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <p class="text-body-secondary">© 2025</p>
        </div>
        <div class="colmb3">

        </div>

        <div class="colmb3">
            <h5>Section</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="{{url_for('index')}}"
                        class="nav-link p-0 text-body-secondary">Home</a></li>
                <li class="nav-item mb-2"><a href="{{url_for('about')}}" class="nav-link p-0 text-body-secondary">About</a></li>
                <li class="nav-item mb-2"><a href="{{url_for('sign_up')}}" class="nav-link p-0 text-body-secondary">Sign Up</a></li>
            </ul>
        </div>

        </div>
    </footer>
</body>

</html>