<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clarnet.Xenop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link href="static/instrument.css" rel="stylesheet">
    <link rel="shortcut icon" href="static/troll.jpg" type="image/x-icon">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{{url_for('index')}}" class="nav-link px-2 text-secondary">Home</a></li>
                    <li><a href="{{url_for('about')}}" class="nav-link px-2 text-white">About</a></li>
                    <li><a href="{{url_for('sign_up')}}" class="nav-link px-2 text-white">Sign Up</a></li>
                </ul>

                <div class="text-end">
                </div>
            </div>
        </div>
    </header>
    <h1 class="text mt-5 mb-5">Clarnet</h1>
    <div class="col-lg-7 d-flex justify-content-around w-100">
        <img src="https://64.media.tumblr.com/37890428ca1f90c3ee2d7919022fc4fb/tumblr_odwxv3wJFV1vxbd6wo4_500.gif" alt=""
            width="535">
        <p class="yet col-lg-4">Кларнет был изобретён в конце XVII — начале XVIII столетия (некоторые справочники
            указывают в качестве года изобретения кларнета 1690, другие исследователи оспаривают эту дату и указывают,
            что первые упоминания о кларнете датированы 1710 годом) нюрнбергским музыкальным мастером Иоганном
            Кристофом Деннером (1655—1707), работавшим в то время над улучшением конструкции старинного французского
            духового инструмента — шалюмо (фр. chalumeau). Основным нововведением, позволяющим чётко провести различие
            между шалюмо и кларнетом, явился клапан на обратной стороне инструмента, управляемый с помощью большого
            пальца левой руки и помогающий переходу во вторую октаву. В этом регистре звучание первых образцов нового
            инструмента (первоначально называвшегося просто «усовершенствованная шалюмо») напоминали тембр
            употреблявшейся в то время трубы, называвшейся «кларино» (clarino), название которой, в свою очередь,
            произошло от лат. clarus — «ясный» (звук). Эта труба дала своё название сначала регистру, а затем и всему
            инструменту ― clarinetto (итальянское название кларнета) буквально означает «маленькая clarino». В
            течение некоторого времени шалюмо и кларнет употреблялись на равных, однако уже во второй четверти XVIII
            века шалюмо практически исчезает из музыкальной практики. Дело Деннера продолжил его сын Якоб (1681—1735),
            три инструмента его работы хранятся в музеях Нюрнберга, Берлина и Брюсселя. Все эти кларнеты имели по два
            клапана. Инструменты такой конструкции были весьма распространёнными вплоть до XIX века, однако австрийский
            мастер Паур около 1760 года добавил к уже существовавшим двум клапанам третий, бельгийский мастер Роттенбург
            — четвёртый, англичанин Джон Хэйл в 1785 году — пятый, наконец, знаменитый французский кларнетист и
            композитор Жан-Ксавье Лефевр около 1790 года создал классическую модель кларнета с шестью клапанами.
        </p>
    </div>

    <h1 class="text mt-5 mb-5">Стоимость инструмента и где купить?</h1>
    <div class="col-lg-7 d-flex justify-content-around w-100">
        <img src="https://steamuserimages-a.akamaihd.net/ugc/838084612819123631/63FA8BFB2E60A3F91E362B42156AE10B33772F65/"
            alt="" width="535">
        <div>
        <p class="yet">ТОП 5 ДУХОВЫХ ИНСТРУМЕНТОВ:</p>
                {% for du in duh %}
            
            <p>--------------------------------------------------------------------------------------------------------------------------</p>
            <p class="yet"> {{du[3]}} - {{du[1]}} — {{du[2]}}.</p>
            
                {% endfor %}
        </div>

    </div>


    <div>
        <h2 class="text mb-5 mt-5">Кларнет на любой вкус и цвет вы можете купить <a
                href="https://novosibirsk.pult.ru/">здесь</a>.</h2>
    </div>


    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
        <div class="colmb-3">
            <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none"
                aria-label="Bootstrap">
                <svg class="bi me-2" width="40" height="32" aria-hidden="true">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <p class="text-body-secondary">© 2025</p>
        </div>
        <div class="colmb3">

        </div>

        <div class="colmb3">
            <h5>Section</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="{{url_for('index')}}"
                        class="nav-link p-0 text-body-secondary">Home</a></li>
                <li class="nav-item mb-2"><a href="{{url_for('about')}}" class="nav-link p-0 text-body-secondary">About</a></li>
                <li class="nav-item mb-2"><a href="{{url_for('sign_up')}}" class="nav-link p-0 text-body-secondary">Sign Up</a></li>
            </ul>
        </div>

        </div>
    </footer>
</body>

</html>