<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Drums.Xenop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link href="static/instrument.css" rel="stylesheet">
    <link rel="shortcut icon" href="static/troll.jpg" type="image/x-icon">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="http://127.0.0.1:5000" class="nav-link px-2 text-secondary">Home</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">About</a></li>
                </ul>

                <div class="text-end">
                </div>
            </div>
        </div>
    </header>
    <h1 class="text mt-5 mb-5">Drums</h1>
    <div class="col-lg-7 d-flex justify-content-around w-100">
        <img src="https://cdn.dribbble.com/users/730690/screenshots/3443950/drummer.gif"
            alt="" width="535">
        <p class="yet col-lg-4">Барабаны известны с незапамятных времён и встречаются почти во всех регионах земного
            шара. В своё время их изготавливали из глины, кости, бронзы и т. п.

            При раскопках в Месопотамии были найдены одни из древнейших ударных инструментов, сделанные в виде маленьких
            цилиндров, происхождение которых датируется шестым тысячелетием до нашей эры, к этому же времени относят и
            наскальные рисунки в пещерах Южной Америки. Возраст найденного в Моравии барабана датируется пятым
            тысячелетием до н. э., в Древнем Египте барабаны возникли за 4 тыс. лет до н. э. Известно о существовании
            барабанов в древнем Шумере (около 3 тыс. лет до н. э). О длительной истории развития инструмента
            свидетельствует и большое разнообразие его видов в наши дни.

            С древнейших времён барабан использовался как сигнальный инструмент, а также для сопровождения ритуальных
            танцев, религиозных обрядов, военных шествий и действий, таких, где была бы необходимость соблюдать ритм,
            например, идти, бежать, тянуть, грести или бить слаженно. К примеру, ещё у древних греков и римлян барабан
            тимпан (др.-греч. τύμπανον), предшественник современных литавр, использовался в культах Кибелы и Вакха, а
            также в армии и на гребном флоте. И так далее, например, в XVI веке барабаны использовались в Британской
            армии в пехоте, у драгунов и кавалерии. Во времена Генриха VIII в каждой роте от 100 человек было двое
            барабанщиков. В XVII веке основными используемыми сигналами барабанщиков были «Внимание», «Строиться»,
            «Готовность», «Марш», «Атака», «Отступить».

            В Японии была найдена датируемая VI—VII веками глиняная фигура барабанщика с тайко. Эти барабаны
            использовались на поле боя, чтобы испугать, ошеломить противника: один солдат нёс барабан на спине, а двое в
            него били. В решающей битве между Ци и Лу в 684 году до н. э. барабаны вдохновили солдат и переломили ход
            боя.</p>
    </div>

    <h1 class="text mt-5 mb-5">Стоимость инструмента и где купить?</h1>
    <div class="col-lg-7 d-flex justify-content-around w-100">
        <img src="https://avatars.mds.yandex.net/i?id=d2d62b28e955224a5238ae2ad5b71ffca26df22c-4023814-images-thumbs&n=13"
            alt="" width="535">
        <div>
            <p class="yet">Цены на некоторые ударные инструменты:</p>

            <p class="yet">BRAHNER XB 618/SB, парное, размер 7" х 6", фурнитура — хром, производство — Китай — 4 720
                рублей.(Бонго) </p>
            <p class="yet">5d2 by BRAHNER BG460/AM, размер 6,5" и 7,5", фурнитура — сварные кольца — 4 849
                рублей.(Бонго)</p>
            <p class="yet">Pearl STS1480S/ C852, малый барабан — 62 990 рублей.(Барабаны)</p>
            <p class="yet">Pearl M1270/102, малый барабан — 79 990 рублей.(Барабаны)</p>
            <p class="yet">MEINL TRI20B — 7 290 рублей.(Треугольник)</p>
            <p class="yet">Sabian Hand-Hammered Bronze Triangles 9 in. Triangle — 19 690 рублей.(Треугольник)</p>
        </div>

    </div>


    <div>
        <h2 class="text mb-5 mt-5">Барабаны на любой вкус и цвет вы можете купить <a
                href="https://novosibirsk.pult.ru/">здесь</a>.</h2>
    </div>


    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
        <div class="colmb-3">
            <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none"
                aria-label="Bootstrap">
                <svg class="bi me-2" width="40" height="32" aria-hidden="true">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <p class="text-body-secondary">© 2025</p>
        </div>
        <div class="colmb3">

        </div>

        <div class="colmb3">
            <h5>Section</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="http://127.0.0.1:5000"
                        class="nav-link p-0 text-body-secondary">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
            </ul>
        </div>

        </div>
    </footer>
</body>

</html>