<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Xenop</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  <link rel="stylesheet" href="static/style.css">
  <link rel="shortcut icon" href="static/troll.jpg" type="image/x-icon">
</head>

<body>
  <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{{url_for('index')}}" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="{{url_for('about')}}" class="nav-link px-2 text-white">About</a></li>
        </ul>

        <div class="text-end">
        </div>
      </div>
    </div>
  </header>

<img src="https://foiz.pro/uz_files/171405/TidyRemorsefulDugong-size_restricted.gif" class="yep">

  <h2>Xenop, site, about different instruments.</h2>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
    crossorigin="anonymous"></script>


  <h2 class="text mt-4 mb-4">

    Струнные инструменты

  </h2>
  <div class="d-flex justify-content-around flex-wrap col-lg-6 m-auto">
    {% for string in strings %}


    <div class="card" style="width: 18rem;">
      <img src="{{string[4]}}" class="card-img-top" alt="{{string[1]}}">
      <div class="card-body">
        <h5 class="card-title">{{string[1]}}</h5>
        <p class="card-text">{{string[3]}}</p>
        <a href="{{string[5]}}" class="btn btn-primary">Узнать получше...</a>
      </div>
    </div>
    {% endfor %}
  </div>
  <h2 class="text mt-4 mb-4">

    Ударные инструменты

  </h2>
  <div class="d-flex justify-content-around flex-wrap col-lg-6 m-auto">
    {% for drum in drums %}


    <div class="card" style="width: 18rem;">
      <img src="{{drum[4]}}" class="card-img-top" alt="{{drum[1]}}">
      <div class="card-body">
        <h5 class="card-title">{{drum[1]}}</h5>
        <p class="card-text">{{drum[3]}}</p>
        <a href="{{drum[5]}}" class="btn btn-primary">Узнать получше...</a>
      </div>
    </div>
    {% endfor %}
  </div>


  <h2 class="text mt-4 mb-4">

    Духовые инструменты

  </h2>

  <div class="d-flex justify-content-around flex-wrap col-lg-6 m-auto">
    {% for duh in duhovoi %}

    <div class="card" style="width: 18rem;">
      <img src="{{duh[4]}}" class="card-img-top" alt="{{duh[1]}}">
      <div class="card-body">
        <h5 class="card-title">{{duh[1]}}</h5>
        <p class="card-text">{{duh[3]}}</p>
        <a href="{{duh[5]}}" class="btn btn-primary">Узнать получше...</a>
      </div>
    </div>

    {% endfor %}
  </div>


  <img src="https://foiz.pro/uz_files/171405/TidyRemorsefulDugong-size_restricted.gif" class="yep">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="colmb-3">
      <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none" aria-label="Bootstrap">
        <svg class="bi me-2" width="40" height="32" aria-hidden="true">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>

      <p class="text-body-secondary">© 2025</p>
    </div>
    <div class="colmb3">

    </div>

    <div class="colmb3">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="{{url_for('index')}}" class="nav-link p-0 text-body-secondary">Home</a></li>
        <li class="nav-item mb-2"><a href="{{url_for('about')}}" class="nav-link p-0 text-body-secondary">About</a></li>
      </ul>
    </div>

    </div>
  </footer>
</body>

</html>