<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Saxophone.Xenop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link href="static/instrument.css" rel="stylesheet">
    <link rel="shortcut icon" href="static/troll.jpg" type="image/x-icon">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{{url_for('index')}}" class="nav-link px-2 text-secondary">Home</a></li>
                    <li><a href="{{url_for('about')}}" class="nav-link px-2 text-white">About</a></li>
                </ul>

                <div class="text-end">
                </div>
            </div>
        </div>
    </header>
    <h1 class="text mt-5 mb-5">Saxophone</h1>
    <div class="col-lg-7 d-flex justify-content-around w-100">
        <img src="https://stihi.ru/pics/2022/11/16/91.gif"
            alt="" width="535">
        <p class="yet col-lg-4">Изобретение саксофона относится к началу 1840-х годов. В это время Сакс, работавший в
            музыкальной мастерской своего отца в Динане и уже получивший несколько патентов, искал возможности устранить
            интонационные расхождения между деревянными и медными инструментами духовых оркестров, заполнить тембровое
            пространство между ними и заменить громоздкие и несовершенные басовые офиклеиды. Именно под названием
            «мундштучный офиклеид» новый инструмент был впервые представлен на Брюссельской промышленной выставке в
            августе 1841 года. Этот инструмент обладал металлическим коническим корпусом, мундштуком с одинарной тростью
            (почти без изменения заимствованным у кларнета), системой кольцевых клапанов Теобальда Бёма, но при этом
            имел «змееобразную» (скрученную) форму.

            В 1842 году Сакс прибыл в Париж, где также планировал продвигать своё новое изобретение. 12 июня композитор
            Гектор Берлиоз, друг Сакса и музыкальный новатор, публикует в парижском «Journal des débats» статью,
            посвящённую новому инструменту, к которому впервые применяет название «саксофон», вскоре получившее широкое
            распространение. Берлиоз же стал автором первого сочинения с участием саксофона — Хорала для голоса и шести
            духовых инструментов, в котором помимо саксофона использовались и другие инструменты, сконструированные или
            усовершенствованные Саксом (например, бас-кларнет). 3 февраля 1844 года композитор сам продирижировал этим
            произведением, а уже в декабре саксофон впервые появился в оперном оркестре на премьере оперы Жоржа Кастнера
            «Последний царь Иудеи». В том же году саксофон был представлен на промышленной выставке в Париже.
            Описывая события 1845—1846 годов Берлиоз писал в своих «Мемуарах»: «Саксофон — этот новый член семейства
            кларнетов, и при том весьма ценный при условии, что исполнители научатся показывать все его качества, —
            должен ныне занять особое место в системе консерваторского обучения, потому что уже не далёк момент, когда
            все композиторы пожелают его использовать»</p>
    </div>

    <h1 class="text mt-5 mb-5">Стоимость инструмента и где купить?</h1>
    <div class="col-lg-7 d-flex justify-content-around w-100">
        <img src="https://avatars.mds.yandex.net/i?id=fa37b85f768d44ac37b30dbb9d24d63e_l-5273766-images-thumbs&n=13" alt="" width="535">
        <div>
            <p class="yet">Цены на некоторые духовые инструменты:</p>

            <p class="yet">Saxoфон Brahner TS-206A — 75 900 рублей;</p>
            <p class="yet">Saxoфон Roy Benson SS-302 — 78 025 рублей;</p>
            <p class="yet">Кларнет Bb Leblanc L320NC (пр-во США) — 67 388 рублей;</p>
            <p class="yet">Кларнет Bb Selmer 1400B (пр-во США) — 81 175 рублей;</p>
            <p class="yet">Губная гармошка миниатюрная Swan SW4 — 350 рублей;</p>
            <p class="yet">Губная гармошка Seydel Sohne 11301C Solist Pro C — 6 250 рублей;</p>
        </div>

    </div>


    <div>
        <h2 class="text mb-5 mt-5">Саксофон на любой вкус и цвет вы можете купить <a
                href="https://novosibirsk.pult.ru/">здесь</a>.</h2>
    </div>


    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
        <div class="colmb-3">
            <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none"
                aria-label="Bootstrap">
                <svg class="bi me-2" width="40" height="32" aria-hidden="true">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <p class="text-body-secondary">© 2025</p>
        </div>
        <div class="colmb3">

        </div>

        <div class="colmb3">
            <h5>Section</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="{{url_for('index')}}"
                        class="nav-link p-0 text-body-secondary">Home</a></li>
                <li class="nav-item mb-2"><a href="{{url_for('about')}}" class="nav-link p-0 text-body-secondary">About</a></li>
            </ul>
        </div>

        </div>
    </footer>
</body>

</html>