<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Triangle.Xenop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link href="static/instrument.css" rel="stylesheet">
    <link rel="shortcut icon" href="static/troll.jpg" type="image/x-icon">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{{url_for('index')}}" class="nav-link px-2 text-secondary">Home</a></li>
                    <li><a href="{{url_for('about')}}" class="nav-link px-2 text-white">About</a></li>
                    <li><a href="{{url_for('sign_up')}}" class="nav-link px-2 text-white">Sign Up</a></li>
                </ul>

                <div class="text-end">
                </div>
            </div>
        </div>
    </header>
    <h1 class="text mt-5 mb-5">Triangle</h1>
    <div class="col-lg-7 d-flex justify-content-around w-100">
        <img src="https://www.animaatjes.nl/beroepen-plaatjes/beroepen-plaatjes/muzikant/muziekant04.gif"
            alt="" width="535">
        <p class="yet col-lg-4">Происхождение треугольника как музыкального инструмента точно не установлено.
            Энциклопедический словарь Брокгауза и Ефрона утверждает, что треугольник впервые появился на Востоке.

            Считается, что в XV веке треугольник имел форму трапеции. К XVII веку появилось несколько его
            разновидностей, а ещё через столетие инструмент прочно закрепился в оркестре.

            Некоторые факты из истории треугольника:

            В произведениях Гайдна, Моцарта и Бетховена треугольник использовался для имитации музыки, которая
            представляла собой набор традиционных инструментов военного оркестра янычар XVIII века.
            Во времена правления Елизаветы Петровны в России треугольник получил прозвище «трензель» (так его называли
            исключительно в военной среде).
            Настоящую известность инструменту подарил Ференц Лист, когда создал «Концерт для фортепиано с оркестром №1»,
            где у треугольника было целое соло.</p>
    </div>

    <h1 class="text mt-5 mb-5">Стоимость инструмента и где купить?</h1>
    <div class="col-lg-7 d-flex justify-content-around w-100">
        <img src="https://cm.author.today/content/2022/01/28/6b1f6eaed95946f2940cd4dadcc90031.jpg"
            alt="" width="535">
        <div>
        <p class="yet">ТОП 5 УДАРНЫХ ИНСТРУМЕНТОВ:</p>
                {% for dr in dru %}
            
            <p>--------------------------------------------------------------------------------------------------------------------------</p>
            <p class="yet"> {{dr[3]}} - {{dr[1]}} — {{dr[2]}}.</p>
            
                {% endfor %}
        </div>

    </div>


    <div>
        <h2 class="text mb-5 mt-5">Треугольники на любой вкус и цвет вы можете купить <a
                href="https://novosibirsk.pult.ru/">здесь</a>.</h2>
    </div>


    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
        <div class="colmb-3">
            <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none"
                aria-label="Bootstrap">
                <svg class="bi me-2" width="40" height="32" aria-hidden="true">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <p class="text-body-secondary">© 2025</p>
        </div>
        <div class="colmb3">

        </div>

        <div class="colmb3">
            <h5>Section</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="{{url_for('index')}}"
                        class="nav-link p-0 text-body-secondary">Home</a></li>
                <li class="nav-item mb-2"><a href="{{url_for('about')}}" class="nav-link p-0 text-body-secondary">About</a></li>
                <li class="nav-item mb-2"><a href="{{url_for('sign_up')}}" class="nav-link p-0 text-body-secondary">Sign Up</a></li>
            </ul>
        </div>

        </div>
    </footer>
</body>

</html>